<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PictureCheckCode</servlet-name>
    <servlet-class>edu.bdu.tools.PictureCheckCode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SurveyVisitAction</servlet-name>
    <servlet-class>edu.bdu.controller.SurveyVisitAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateResult</servlet-name>
    <servlet-class>edu.bdu.controller.CreateResult</servlet-class>
  </servlet>


  
  <servlet-mapping>
    <servlet-name>PictureCheckCode</servlet-name>
    <url-pattern>/ImageCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SurveyVisitAction</servlet-name>
    <url-pattern>/servlet/SurveyVisitAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateResult</servlet-name>
    <url-pattern>/CreateResult</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>logincheck</filter-name>
    <filter-class>edu.bdu.tools.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>logincheck</filter-name>
     <url-pattern>/images/*</url-pattern>
  </filter-mapping>
 <!--  <error-page>
    <error-code>404</error-code>
    <location>/errornotfound.jsp</location>
  </error-page> -->
  <error-page>
   <exception-type>java.lang.Exception</exception-type>
   <location>/showerror.jsp</location>
  </error-page>
  
</web-app>
